.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 150px 60px 1fr;
}

#login {
  grid-column-start: 3;
}

#title {
  grid-column-start: 1;
  grid-column-end: 4;
}

#main {
  grid-column-start: 2;
}

#menu {
  grid-column-start: 1;
  grid-column-end: 4;
}
